body {
    min-height: 100vh;
    background-color: rgb(119, 198, 243);
    color: rgb(230, 226, 226);
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    text-shadow: 1.5px 1.5px 0 rgb(97, 99, 122);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: white;
    text-shadow: 2px 2px 0 rgb(97, 99, 122);
    font-family: 'Marck Script', cursive;
}

.container {
    flex: 1;
}

h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
}

.buttons {
    margin-bottom: 4rem;
}

.button {
    margin: 2rem;
}

#rock {
    width: 11rem;
}

#paper {
    width: 8.5rem;
}

#scissors {
    width: 10rem;
}

#display-winner {
    margin-top: 4rem;
}

.scores {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 1.5px 1.5px 0 rgb(69, 134, 190);
    font-size: 2.5rem;
}